$color-primary: #ffcc00;
$color-secondary: #666666;
$color-icons-primary: #cccccc;
$color-icons-secondary: rgba(45, 45, 45, 0.741);
$color-icons-active: #908d8d;
$color-btn-state: #f37109;
$font-family-base: 'Raleway', Helvetica, Arial, sans-serif;
$font-family-secondary: 'Roboto', Helvetica, Arial, sans-serif;
$font-family-third: 'Open Sans', Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$line-height: 1.5;