$color-primary: #ffcc00;
$color-secondary: #666666;
$color-icons: #cccccc;
$color-btn-hover: #FB001E;
$color-btn-focus: #5900a2;
$color-btn-active: #9e0a47;
$font-family-base: 'Raleway', Helvetica, Arial, sans-serif;
$font-family-secondary: 'Roboto', Helvetica, Arial, sans-serif;
$font-family-third: 'Open Sans', Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$line-height: 1.5;